/*canvas page styles*/
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {

	margin: 0;
	border: 0;
	width:100%;
	height:100%;
	color: #fff;
	text-align: center;
	background-color: #000;
	
	
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	
}

main canvas#space-canvas {

	border: 2px solid purple;
	margin: 0.5em 0;
	background-color:  #fff;

}

div {
	position: absolute;
	text-align: center;
	border: 2px solid purple;
	margin: 0;
	padding: 0;
	left: 25%;
	top: 25%;
	width: 50%;
	background-color: #000;
	z-index: 100;
}

div#paused {
	border: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

}

div span {
	display: inline-block;
	margin: 1em 2em;
	width: 40%;
	color: #fff;
	font-size: 14pt; 
	padding: 1em 1em;
}

div span#title {
	font-size: 20pt;
}

div button {
	display: inline-block;
	width: 40%;
	border: 2px solid purple;
	background-color: transparent;
	color: #fff;
	font-size: 14pt; 
	padding: 1em 1em;
	margin: 1em 1em;
}

div button:hover {
	background-color: purple;
	color: #000;
}

rect.btn {
	fill-opacity: 0;
	stroke-opacity:0;
}
